.login-box {
  border-radius: 10px;
  background: #F2F3F4;
  padding: 1%;
}

.login-background {
  background: #F2F3F4;
}

.App {
  text-align: center;
  background-image: url('../assets/images/background.png');
  width: 100vw;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appbar {
  align-items: right;
}

.sign-up-button {
  width: 25%;
  text-align: center;
}

.talent-homepage-style {
  background-color: gray;
  height: 80vh;
  width: 80vw;
  padding-top: 1%;
}

.border {
  border: 1px solid black;
  border-radius: 10px;
}

background-style {
  background-color: #FFFFFF;
}