.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-fields {
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-around;
}